footer {
    padding: 64px 0;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
    margin: 0 32px;
}

.social-networks i {
    font-size: 110%;
    color: #323031;
}
