{% extends "base.html" %} 
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% if recipe %}
                <h1 class="title mt-70">Add Recipe {{ user.username }}</h1>
                {% else %}
                <h1 class="title mt-70">Edit Recipe {{ user.username }}</h1>
                {% endif %}
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="w-50 table">
                    {% for field in form %}
                    <tr>
                        <th>{{field.label}}</th>
                        <td>{{ field }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="text-center">
                    <button class="btn btn-secondary right mb-4" type="submit" value="Save">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}