{% extends "base.html" %} 
{% load static %}

{% block content %}


<!--Recipe image & title-->
<section>
<div class="container">
    <div class="row">
            <div class="col-md-6">
                <img class="recipe-image" src="{{ recipe.featured_image.url }}">
            </div>
            <div class="recipe-description">
                <h1 class="recipe-title">{{ recipe.title }}</h1>
            </div>
    </div>


<!--Recipe description-->
    <div class="row">
        <div class="col card mb-4">
            <div class="card-body">
                <p class="card-text ">
                    {{ recipe.description }}
                </p>        
    </div>
        </div>
            </div>

<!--Recipe likes & number of comments-->
            <div class="row">
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ recipe.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <p class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</p>
                        {% endwith %}
                    </div>
            </div>

</section>
{% endblock content %}