{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="home">
    <div class="container">

        <!--Recipe Posts-->
        <div class="col-12 mt-3">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                     <a href="{% url 'recipes_detail' recipe.slug %}" class="recipe-link">
                      <h5 class="card-title">{{ recipe.title }}</h5>
                      </a>
                      <p class="card-text">{{ recipe.description }}</p>
                      <p class="author">Author: {{ recipe.author }}</p>
                    </div>   
                    {% if forloop.counter|divisibleby:3 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}