{% extends "base.html" %} 
{% load static %}

{% block content %}
<section>
<div class="container">
    <div class="row">
            <div class="col-md-6">
                <img class="recipe-image" src="{{ recipe.featured_image.url }}">
            </div>
            <div class="recipe-description">
                <h1 class="recipe-title">{{ recipe.title }}</h1>
            </div>
    </div>



    <div class="row">
        <div class="col card mb-4">
            <div class="card-body">
                <p class="card-text ">
                    {{ recipe.description }}
                    Description
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ recipe.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <p class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</p>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span>
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}